@media only screen and (max-width: 525px) {
	.header {
		flex-direction: column;
		justify-content: space-around;
		background-color: #fff;


	}
	.header .first_head {
		width: 100%;
		background-color: #fff;
		color: #1f3f4c;
		padding: none;
		/* text-align: center; */
		
	}

	.header .first_head h3 {
		font: 12.83px/16.98px "BebasNeueRegular";
		text-transform: uppercase;
		text-align: center;

	} 

	.header .first_head p {
		font: 9.81px/12.83px "BebasNeueRegular";
		text-align: center;
	}

	.first_head:after {
		display: none;
	}

	.header  .second_head {
		flex-direction: column;
		width: 100%;
		padding: none;
		text-align: center;
	}

	::-webkit-input-placeholder {
		background-color: #fff;
	}

	.email {
		width: 200px;
		margin: auto;
	}

	body {
		width: 100%;
	}

	.neura {
		width: 100%;
		display: flex;
	}

	.container {
		
	}

	.logo {
		display: inline-block;
	}

	.text-box {
		self-item: center;
	}

	.facilities {
		width: 70%;
		margin: 0 auto;
	}
/*****************PHONES*****************************/
	.phones {
		margin-bottom: 0;
		flex-direction: column;
	}

	.phones h2, .phones p {
		width: 50%;
	}

	.phones img:nth-child(1) {
		width: 80px;
		height: 80px;
	}

	.phones img:nth-child(2) {
		width: 50%;
		height: 50%;
	}


	.phone1{
		text-align: left;
		display: inline-block;
	}

	.phone2 {
		text-align: right;
		padding-right: 0;
		padding-left: 0;
	}

	.phone3 {
		text-align: left;
	}

	/*****************GET DEMO**************/
	.get_demo {
		display: flex;
		flex-direction: column;
	}

	.more button {
		margin-bottom: 20px;
	}

	.btn-white {
		margin: 0 0 0 0;
	}


	
}

@font-face {
    font-family: BebasNeueRegular;
    src: url(../fonts/BebasNeueRegular.otf);
}
