@font-face {
    font-family: BebasNeueBold;
    src: url(../fonts/BebasNeueBold.otf);
}
@font-face {
    font-family: BebasNeueRegular;
    src: url(../fonts/BebasNeueRegular.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSansBold.ttf);
}
@font-face {
    font-family: OpenSansItalic;
    src: url(../fonts/OpenSansItalic.ttf);
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSansSemiBold.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/RobotoMedium.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body{
	font-family: OpenSans;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: #f6f6f6;
	
}

.header .first_head {
	width: 50%;
	background-color: #dcdcdc;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 23px;
	color: white;
	position: relative;
}
.first_head:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 42px;
	height: 100%;
	background: url("../images/corner.png") no-repeat;
}

.header  .second_head {
	padding-top: 16px;
    padding-right: 54px;
}

.btn {
	background-color: #21b4eb;
	border: none;
	border-radius: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 36px;
    /* padding: 0 32px; */
}

.email {
	border: none;
	border-bottom: 1px solid #21b4eb;
	width: 240px; 
	margin-right: 10px;
}

::-webkit-input-placeholder {
	color:#21b4eb;
	background-color: #f6f6f6;
	padding-left: 30px;
}


.neura {
	background: url("../images/neura1.jpg") no-repeat;
	background-size: cover;
	position: relative;

	
	
}

.neura p {
	font-size: 37px;
    font-family: "Bebas Neue";
    color: rgb(255, 255, 255);
    line-height: 1.381;
    
}

.neura h1 {
	font-size: 37px;
    font-family: "Bebas Neue";
    color: rgb(255, 255, 255);
    /* line-height: 1.381; */
    /* -moz-transform: matrix( 0.92003296202831,0,0,0.92003296202831,0,0);
    -webkit-transform: matrix( 0.92003296202831,0,0,0.92003296202831,0,0);
    -ms-transform: matrix( 0.92003296202831,0,0,0.92003296202831,0,0); */
}

.neura .btn {
	/* margin-top: 65px; */
}

.logo {
	position: absolute;
	left: 10px;
	top: 10px;
}

.container {
	max-width: 1280px;
	padding: 24px 0 110px 27px;
	margin: 0 auto;
}

.text-box {
	text-align: center;
	margin-top: 60px;
	/* margin-left: 308px;
	margin-right: 305px; */
}

.text-box .btn {
	margin-top: 20px;
}

.text-box h1 {
	font-family: "BebasNeueBold";
}

.text-box h2 {
	font-family: "BebasNeueBold";
	color: #fff;
}

/*************PHONES*************/
.main {
	background-image: -moz-linear-gradient( -90deg, rgb(0,115,158) 4%, rgb(33,180,235) 43%, rgb(214,255,254) 82%);
    background-image: -webkit-linear-gradient( -90deg, rgb(0,115,158) 4%, rgb(33,180,235) 43%, rgb(214,255,254) 82%);
    background-image: -ms-linear-gradient( -90deg, rgb(0,115,158) 4%, rgb(33,180,235) 43%, rgb(214,255,254) 82%);
    min-height: 864px;
    padding-top: 27px;
    
}

.facilities {
	text-align: center;
}

.phones {
	display: flex;
	justify-content: space-around;
    overflow: hidden;
	/* align-content: flex-end; */
	/* align-items: flex-end; */
	/* width: 1280px; */
	/* flex-flow: row wrap; */
	/* margin: 0 auto; */
	/* z-index: 30; */
	/* flex-direction: column; */
    /* align-items: flex-end; */
    /* align-self: center; */
    /* justify-content: center; */
}

.item {
	width: 223px;
	align-self: flex-end;
	margin-bottom: -50px;
}

/* .item:nth-of-type(1) {
	margin-right: 50px;
	margin-bottom: -120px;
}

.item:nth-of-type(2) {
	margin-right: 50px;
	margin-bottom: -85px;
}

.item:nth-of-type(3) {
	margin-bottom:  -120px;
} */

/*************END PHONES*************/

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* height: 455px; */
	/* align-self: center; */
	/* justify-content: space-between; */
	align-self: flex-start;
	    padding-top: 41px;

}

.about figure {
	float: none;
	flex-direction: column;
	text-align: center;
}

.ceo figcaption {
	margin: 0 auto 5px;
}

.about p {
	padding-top: 49px;
	padding-bottom: 80px;
	font-size: 32px;
  	font-family: "Open Sans";
  	color: rgb(31, 63, 76);
  	font-style: italic;
  	line-height: 1.188;
  	text-align: center;
}

.more {
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	/* height: 405px; */
	background-color: #f6f6f6;
}

.more h2 {
	font-size: 42.879px;
  	font-family: "Bebas Neue";
  	color: rgb(31, 63, 76);
  	font-weight: bold;
  	line-height: 1.5;
  	text-align: center;
  	padding-top: 80px;
  	padding-bottom: 34px;
}

.more p {
	font-size: 20px;
  	font-family: "Open Sans";
  	color: rgb(31, 63, 76);
  	line-height: 1.3;
  	text-align: center;
  	padding-bottom: 65px;
}

.more button {
	margin-bottom: 113px;
}

.more button:nth-of-type(1) {
	/* flex-direction: wrap; */
	odrder: 1;
}

.more button:nth-of-type(2) {
	/* flex-direction: wrap; */
	odrder: 2;
}

.get_demo {
	display: inline-block;
}

.Experience_the_flexibility_and_personalization_ {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(31, 63, 76);
  line-height: 1.3;
  text-align: center;
  position: absolute;
  left: 259.747px;
  top: 1978.861px;
  width: 701px;
  height: 46px;
  z-index: 5;
}












